@model Atlaaya.Models.TestimonialsProject
<style>
	hr {
		border: 1px solid #e5e5e5 !important;
		margin: 0;
		padding: 0;
	}
</style>
<div class="container text-center mt-5">
	<h1 class="display-4">
		<span class="font-italic display-4" style="font-family: serif">Our</span>
		Projects
	</h1>
	<h6>2018 - @DateTime.Now.Year</h6>
</div>
<div class="col-md-12 mt-5 mb-5">
	<hr />
	<div class="row mt-2 ourProjectMain">
		<div class="col-md-3"></div>
		<div class="col-md-6 projBtns">
			<button class="btn m-2 pl-5 pr-5 nav-fs">Commercial</button>
			<button class="btn m-2 pl-5 pr-5 nav-fs">Hospitality</button>
			<button class="btn m-2 pl-5 pr-5 nav-fs">Residential</button>
		</div>
		<div class="col-md-3"></div>
	</div>
	<div class="col-md-12 mt-3">
		<div class="row">
			@foreach (var item in Model.projects)
			{
				<div class="col-md-4 mb-4 project" data-category="@item.ProjectType">
					<div class="fwrap" onclick="GetProjectDetails('@item.Id')" style="cursor:pointer;">
						<img class="fimg" src="@item.ProjectImage" />
						<div class="fcap">
							<div class="m-4 workTXT">
								<h3 class="text-center head">@item.ProjectName</h3>
								<hr />
								<p class="paraTXT">@item.Value1</p>
								<hr />
								<p class="paraTXT">@item.ProjectType</p>
								<hr />
								<p class="paraTXT">@item.Area sqft</p>
								<hr />
								<p class="paraTXT">@item.Location</p>
								<hr />
							</div>
						</div>
					</div>
				</div>
			}

		</div>
	</div>
</div>
<script src="~/js/projectfilter.js"></script>